<div class="search-block">
  <div class="container py-3">
    <div class="card shadow rounded-3 my-auto">
      <div
        class="card-header p-3 h4 text-center"
        style="color: rgba(64, 124, 226, 0.66)"
      >
        <i class="fa fa-search me-3"></i> Recherche du Proche Hôpital par
        Spécialité
      </div>
      <div class="card-body">
        <div class="container px-4">
          <form role="form" (ngSubmit)="searchNearest()" #searchForm="ngForm">
            <div class="row gx-5">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="form-group-input"
                    >Veuillez Saisir votre adresse actuelle</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="form-group-input"
                    name="address"
                    [(ngModel)]="address"
                    required
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="form-group-input"
                    >Veuillez Choisir la Spécialité</label
                  >
                  <ng-select
                    [items]="filteredSpecialities"
                    bindLabel="nom"
                    [(ngModel)]="selectedSpeciality"
                    [searchable]="true"
                    (search)="onSearch($event)"
                    placeholder="Rechercher une spécialité"
                    [clearable]="true"
                    class="custom"
                    name="speciality"
                    required
                  >
                  </ng-select>
                </div>
              </div>
              <div class="col">
                <div class="d-flex justify-content-end d-grid gap-2">
                  <div class="pe-3">
                    <button
                      class="btn btn-primary btn-block"
                      type="submit"
                      [disabled]="searchForm.invalid"
                    >
                      Valider
                    </button>
                  </div>
                  <div class="">
                    <button
                      id="btn-block-reset"
                      class="btn btn-outline-primary btn-block"
                      type="Reset"
                    >
                      Annuler
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="container pb-3" />

<div *ngIf="searchPerformed && hospitalResponses; else noSearch">
  <div class="result-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pb-4" *ngFor="let result of hospitalResponses">
          <div class="hospital-card">
            <div class="card-block">
              <h5 class="card-title">
                <i class="fa-regular fa-hospital" style="color: #407ce2"></i>
                &nbsp;<span style="color: #223a6a">{{
                  result.nomOrganisation
                }}</span>
              </h5>
              <hr />
              <h6 class="card-subtitle text-muted">
                <i id="icone" class="fa-solid fa-location-dot"></i>&nbsp;<span
                  id="infos-hosp"
                  >Adresse de l'hôpital</span
                >
              </h6>
              <span id="result-hosp">{{ result.adresse }}</span>

              <hr id="ligne" />
              <h6 class="card-subtitle text-muted">
                <i id="icone" class="fa-solid fa-envelope"></i>&nbsp;<span
                  id="infos-hosp"
                  >Code postale</span
                >
              </h6>
              <span id="result-hosp">{{ result.codePostal }}</span>
              <hr id="ligne" />
              <h6 class="card-subtitle text-muted">
                <i id="icone" class="fa-solid fa-hand-holding-medical"></i>
                &nbsp;<span id="infos-hosp">Spécialitéd médicales</span>
              </h6>
              <ul
                *ngFor="
                  let group of chunkArray(
                    result.specialitesMedicales!.slice(),
                    3
                  )
                "
                id="result-hosp"
              >
                <li>
                  <span *ngFor="let speciality of group; let i = index">
                    {{ speciality.nom
                    }}<span
                      *ngIf="i < group.length - 1"
                      style="color: #4a4b4cbd"
                    >
                      |
                    </span>
                  </span>
                </li>
              </ul>
              <hr id="ligne" />

              <div class="row g-1">
                <div class="col-6">
                  <div class="nbLitCard pt-1">
                    <div class="card">
                      <div class="card-body">
                        <i
                          style="color: #d2b47d"
                          class="fa-solid fa-bed mb-2"
                        ></i>
                        <h6 class="card-subtitle">Lits disponibles</h6>
                        <div class="nbLit">
                          {{ result.litsDisponible }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="kmCard pt-1">
                    <div class="card">
                      <div class="card-body">
                        <i
                          style="color: #9c4a6b"
                          class="fa-solid fa-road mb-2"
                        ></i>
                        <h6 class="card-subtitle">Distance en Km</h6>
                        <div class="nbLit">
                          {{ result.distance | number:'1.3-3' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="d-flex"
                data-aos="fade-up"
                data-aos-delay="200"
                style="justify-content: center; padding-top: 14px"
              >
                <button class="reserver-btn btn" (click)="reserver()">
                  Réserver immédiatement
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noSearch>
  <div class="noResult">
    <div class="container">
      <p class="noSearch">
        Aucun résultat pour le moment. Lancez une recherche pour commencer.
      </p>
    </div>
  </div>
</ng-template>
