<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section light-background">
    <div class="container">
      <div class="row gy-4 justify-content-center justify-content-lg-between">
        <div
          class="col-5 d-flex flex-column justify-content-center" style="width: 50%;"
        >
          <div data-aos="fade-up">
            <span class="title"> MedHead </span>
            <span class="titleplus"> Urgences </span>
          </div>
          <p data-aos="fade-up" data-aos-delay="100">
            Bienvenue sur le site officiel du consortium MedHead, votre allié de
            confiance pour des interventions d'urgence en temps réel.<br> Notre
            mission est simple mais vitale :
            <b
              >améliorer la qualité des traitements d'urgence et sauver plus de
              vies.</b
            >
          </p>

          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <button (click)="searchHospital()" class="btn-get-started btn">
              Rechercher un hopital
            </button>
          </div>
        </div>
        <div class="col-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="/image.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->
</main>